---
# handlers file for nginx
- name: restart nginx
  service:
    name: nginx
    state: restarted
    enabled: true

- name: Restart SSH service
  service:
    name: ssh
    state: restarted
    enabled: true